# Dependency folders
**/node_modules
**/jspm_packages

# Build artifacts
**/.next
**/dist
**/build
**/.turbo
**/.cache

# Logs and databases
**/*.log
**/*.sqlite
**/db.sqlite

# System/IDE files
.git
.gitignore
.vscode
.idea
.pnpm-store
.vercel

# Environment files
.env*
.env
!.env.example
