INTERNAL_API_KEY=
NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000"
ENABLE_REGISTRATION=true

NEXT_PUBLIC_AUTH=http://localhost:3000
NEXT_PUBLIC_LYNX=http://localhost:3001



NODE_ENV=development
NEST_PORT=4000

THETVDB_KEY=

DATABASE_URL=

LYNX_TOKEN=

ANILIST_CLIENT_ID=
ANILIST_CLIENT_SECRET=

MAL_CLIENT_ID=
MAL_CLIENT_SECRET=
MAL_CODE_CHALLANGE_STRING=




PROD_LYNX_TOKEN=""
DEV_LYNX_TOKEN=""

DEV_SERVER=
LYNX_OWNER=
LYNX_PORT=4444
LYNX_API_URL="http://localhost:4444"
rrLynxKey=

EDU_NAME=
EDU_PASS=