@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *, [class*="-dark"] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(0.9848 0 0);
  --foreground: oklch(0.2496 0.0417 263.3984);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2496 0.0417 263.3984);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2496 0.0417 263.3984);
  --primary: oklch(0.5424 0.2454 293.0160);
  --primary-foreground: oklch(0.9843 0.0017 247.8393);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9544 0.0226 302.5680);
  --accent-foreground: oklch(0.5424 0.2454 293.0160);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9843 0.0017 247.8393);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.5424 0.2454 293.0160);
  --chart-1: oklch(0.5424 0.2454 293.0160);
  --chart-2: oklch(0.6309 0.1013 183.4907);
  --chart-3: oklch(0.3787 0.0440 225.5393);
  --chart-4: oklch(0.8336 0.1186 88.1463);
  --chart-5: oklch(0.7834 0.1261 58.7491);
  --sidebar: oklch(0.2064 0.0388 265.5472);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.5424 0.2454 293.0160);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2709 0.0592 265.1803);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.2887 0.0646 265.1126);
  --sidebar-ring: oklch(0.5424 0.2454 293.0160);
  --font-sans: Inter, -apple-system, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(220, 40%, 15%);
  --shadow-2xs: 0px 4px 15px 0px hsl(220 40% 15% / 0.03);
  --shadow-xs: 0px 4px 15px 0px hsl(220 40% 15% / 0.03);
  --shadow-sm: 0px 4px 15px 0px hsl(220 40% 15% / 0.05), 0px 1px 2px -1px hsl(220 40% 15% / 0.05);
  --shadow: 0px 4px 15px 0px hsl(220 40% 15% / 0.05), 0px 1px 2px -1px hsl(220 40% 15% / 0.05);
  --shadow-md: 0px 4px 15px 0px hsl(220 40% 15% / 0.05), 0px 2px 4px -1px hsl(220 40% 15% / 0.05);
  --shadow-lg: 0px 4px 15px 0px hsl(220 40% 15% / 0.05), 0px 4px 6px -1px hsl(220 40% 15% / 0.05);
  --shadow-xl: 0px 4px 15px 0px hsl(220 40% 15% / 0.05), 0px 8px 10px -1px hsl(220 40% 15% / 0.05);
  --shadow-2xl: 0px 4px 15px 0px hsl(220 40% 15% / 0.13);
  --tracking-normal: -0.015em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1358 0.0163 262.7113);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.1573 0.0228 265.6559);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.1573 0.0228 265.6559);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.4865 0.2423 291.8661);
  --primary-foreground: oklch(0.9838 0.0035 247.8583);
  --secondary: oklch(0.2800 0.0369 259.9740);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.2800 0.0369 259.9740);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.2302 0.0714 298.2794);
  --accent-foreground: oklch(0.4865 0.2423 291.8661);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.2800 0.0369 259.9740);
  --input: oklch(0.2800 0.0369 259.9740);
  --ring: oklch(0.4865 0.2423 291.8661);
  --chart-1: oklch(0.4865 0.2423 291.8661);
  --chart-2: oklch(0.6983 0.1337 165.4626);
  --chart-3: oklch(0.7232 0.1500 60.6307);
  --chart-4: oklch(0.6192 0.2037 312.7283);
  --chart-5: oklch(0.6123 0.2093 6.3856);
  --sidebar: oklch(0.1074 0.0120 261.1111);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.4865 0.2423 291.8661);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2260 0.0267 260.0212);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.2558 0.0324 259.9923);
  --sidebar-ring: oklch(0.4865 0.2423 291.8661);
  --font-sans: Plus Jakarta Sans, -apple-system, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 25px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 10px 25px 0px hsl(0 0% 0% / 1.00);
}

html.dark[data-theme="catppuccin"] {
  --background: oklch(0.2155 0.0254 284.0647);
  --foreground: oklch(0.8787 0.0426 272.2767);
  --card: oklch(0.2429 0.0304 283.9110);
  --card-foreground: oklch(0.8787 0.0426 272.2767);
  --popover: oklch(0.4037 0.0320 280.1520);
  --popover-foreground: oklch(0.8787 0.0426 272.2767);
  --primary: oklch(0.7871 0.1187 304.7693);
  --primary-foreground: oklch(0.2429 0.0304 283.9110);
  --secondary: oklch(0.4765 0.0340 278.6430);
  --secondary-foreground: oklch(0.8787 0.0426 272.2767);
  --muted: oklch(0.2973 0.0294 276.2144);
  --muted-foreground: oklch(0.7510 0.0396 273.9320);
  --accent: oklch(0.8467 0.0833 210.2545);
  --accent-foreground: oklch(0.2429 0.0304 283.9110);
  --destructive: oklch(0.7556 0.1297 2.7642);
  --destructive-foreground: oklch(0.2429 0.0304 283.9110);
  --border: oklch(0.3240 0.0319 281.9784);
  --input: oklch(0.3240 0.0319 281.9784);
  --ring: oklch(0.7871 0.1187 304.7693);
  --chart-1: oklch(0.7871 0.1187 304.7693);
  --chart-2: oklch(0.8467 0.0833 210.2545);
  --chart-3: oklch(0.8577 0.1092 142.7153);
  --chart-4: oklch(0.8237 0.1015 52.6294);
  --chart-5: oklch(0.9226 0.0238 30.4919);
  --sidebar: oklch(0.1828 0.0204 284.2039);
  --sidebar-foreground: oklch(0.8787 0.0426 272.2767);
  --sidebar-primary: oklch(0.7871 0.1187 304.7693);
  --sidebar-primary-foreground: oklch(0.2429 0.0304 283.9110);
  --sidebar-accent: oklch(0.8467 0.0833 210.2545);
  --sidebar-accent-foreground: oklch(0.2429 0.0304 283.9110);
  --sidebar-border: oklch(0.4037 0.0320 280.1520);
  --sidebar-ring: oklch(0.7871 0.1187 304.7693);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 6px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(240 30% 25%);
  --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.30);
}

html[data-theme="catppuccin"] {
  --background: oklch(0.9578 0.0058 264.5321);
  --foreground: oklch(0.4355 0.0430 279.3250);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4355 0.0430 279.3250);
  --popover: oklch(0.8575 0.0145 268.4756);
  --popover-foreground: oklch(0.4355 0.0430 279.3250);
  --primary: oklch(0.5547 0.2503 297.0156);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8575 0.0145 268.4756);
  --secondary-foreground: oklch(0.4355 0.0430 279.3250);
  --muted: oklch(0.9060 0.0117 264.5071);
  --muted-foreground: oklch(0.5471 0.0343 279.0837);
  --accent: oklch(0.6820 0.1448 235.3822);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5505 0.2155 19.8095);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8083 0.0174 271.1982);
  --input: oklch(0.8575 0.0145 268.4756);
  --ring: oklch(0.5547 0.2503 297.0156);
  --chart-1: oklch(0.5547 0.2503 297.0156);
  --chart-2: oklch(0.6820 0.1448 235.3822);
  --chart-3: oklch(0.6250 0.1772 140.4448);
  --chart-4: oklch(0.6920 0.2041 42.4293);
  --chart-5: oklch(0.7141 0.1045 33.0967);
  --sidebar: oklch(0.9335 0.0087 264.5206);
  --sidebar-foreground: oklch(0.4355 0.0430 279.3250);
  --sidebar-primary: oklch(0.5547 0.2503 297.0156);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6820 0.1448 235.3822);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.8083 0.0174 271.1982);
  --sidebar-ring: oklch(0.5547 0.2503 297.0156);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 6px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(240 30% 25%);
  --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.30);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

html[data-theme="cosmicNight"] {
  --background: oklch(0.9730 0.0133 286.1503);
  --foreground: oklch(0.3015 0.0572 282.4176);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3015 0.0572 282.4176);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3015 0.0572 282.4176);
  --primary: oklch(0.5417 0.1790 288.0332);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9174 0.0435 292.6901);
  --secondary-foreground: oklch(0.4143 0.1039 288.1742);
  --muted: oklch(0.9580 0.0133 286.1454);
  --muted-foreground: oklch(0.5426 0.0465 284.7435);
  --accent: oklch(0.9221 0.0373 262.1410);
  --accent-foreground: oklch(0.3015 0.0572 282.4176);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9115 0.0216 285.9625);
  --input: oklch(0.9115 0.0216 285.9625);
  --ring: oklch(0.5417 0.1790 288.0332);
  --chart-1: oklch(0.5417 0.1790 288.0332);
  --chart-2: oklch(0.7042 0.1602 288.9880);
  --chart-3: oklch(0.5679 0.2113 276.7065);
  --chart-4: oklch(0.6356 0.1922 281.8054);
  --chart-5: oklch(0.4509 0.1758 279.3838);
  --sidebar: oklch(0.9580 0.0133 286.1454);
  --sidebar-foreground: oklch(0.3015 0.0572 282.4176);
  --sidebar-primary: oklch(0.5417 0.1790 288.0332);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9221 0.0373 262.1410);
  --sidebar-accent-foreground: oklch(0.3015 0.0572 282.4176);
  --sidebar-border: oklch(0.9115 0.0216 285.9625);
  --sidebar-ring: oklch(0.5417 0.1790 288.0332);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(240 30% 25%);
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

html.dark[data-theme="cosmicNight"] {
  --background: oklch(0.1743 0.0227 283.7998);
  --foreground: oklch(0.9185 0.0257 285.8834);
  --card: oklch(0.2284 0.0384 282.9324);
  --card-foreground: oklch(0.9185 0.0257 285.8834);
  --popover: oklch(0.2284 0.0384 282.9324);
  --popover-foreground: oklch(0.9185 0.0257 285.8834);
  --primary: oklch(0.7162 0.1597 290.3962);
  --primary-foreground: oklch(0.1743 0.0227 283.7998);
  --secondary: oklch(0.3139 0.0736 283.4591);
  --secondary-foreground: oklch(0.8367 0.0849 285.9111);
  --muted: oklch(0.2710 0.0621 281.4377);
  --muted-foreground: oklch(0.7166 0.0462 285.1741);
  --accent: oklch(0.3354 0.0828 280.9705);
  --accent-foreground: oklch(0.9185 0.0257 285.8834);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3261 0.0597 282.5832);
  --input: oklch(0.3261 0.0597 282.5832);
  --ring: oklch(0.7162 0.1597 290.3962);
  --chart-1: oklch(0.7162 0.1597 290.3962);
  --chart-2: oklch(0.6382 0.1047 274.9117);
  --chart-3: oklch(0.7482 0.1235 244.7492);
  --chart-4: oklch(0.7124 0.0977 186.6761);
  --chart-5: oklch(0.7546 0.1831 346.8124);
  --sidebar: oklch(0.2284 0.0384 282.9324);
  --sidebar-foreground: oklch(0.9185 0.0257 285.8834);
  --sidebar-primary: oklch(0.7162 0.1597 290.3962);
  --sidebar-primary-foreground: oklch(0.1743 0.0227 283.7998);
  --sidebar-accent: oklch(0.3354 0.0828 280.9705);
  --sidebar-accent-foreground: oklch(0.9185 0.0257 285.8834);
  --sidebar-border: oklch(0.3261 0.0597 282.5832);
  --sidebar-ring: oklch(0.7162 0.1597 290.3962);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(240 30% 25%);
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
}

html[data-theme="cyberpunk"] {
  --background: oklch(0.9694 0.0152 12.4219);
  --foreground: oklch(0.4546 0.1713 13.6968);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4546 0.1713 13.6968);
  --popover: oklch(0.9694 0.0152 12.4219);
  --popover-foreground: oklch(0.4546 0.1713 13.6968);
  --primary: oklch(0.5858 0.2220 17.5846);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2077 0.0398 265.7549);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.8924 0.0559 10.0008);
  --muted-foreground: oklch(0.4546 0.1713 13.6968);
  --accent: oklch(0.8700 0.1481 202.8754);
  --accent-foreground: oklch(0.2077 0.0398 265.7549);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.7192 0.1690 13.4280);
  --input: oklch(0.7192 0.1690 13.4280);
  --ring: oklch(0.5858 0.2220 17.5846);
  --chart-1: oklch(0.5858 0.2220 17.5846);
  --chart-2: oklch(0.8700 0.1481 202.8754);
  --chart-3: oklch(0.7192 0.1690 13.4280);
  --chart-4: oklch(0.6450 0.2154 16.4393);
  --chart-5: oklch(0.4103 0.1502 10.2718);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.4546 0.1713 13.6968);
  --sidebar-primary: oklch(0.5858 0.2220 17.5846);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8924 0.0559 10.0008);
  --sidebar-accent-foreground: oklch(0.4546 0.1713 13.6968);
  --sidebar-border: oklch(0.7192 0.1690 13.4280);
  --sidebar-ring: oklch(0.5858 0.2220 17.5846);
  --font-sans: Orbitron, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0rem;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #9f1239;
  --shadow-2xs: 4px 4px 0px 0px hsl(343.4043 79.6610% 34.7059% / 0.10);
  --shadow-xs: 4px 4px 0px 0px hsl(343.4043 79.6610% 34.7059% / 0.10);
  --shadow-sm: 4px 4px 0px 0px hsl(343.4043 79.6610% 34.7059% / 0.20), 4px 1px 2px -1px hsl(343.4043 79.6610% 34.7059% / 0.20);
  --shadow: 4px 4px 0px 0px hsl(343.4043 79.6610% 34.7059% / 0.20), 4px 1px 2px -1px hsl(343.4043 79.6610% 34.7059% / 0.20);
  --shadow-md: 4px 4px 0px 0px hsl(343.4043 79.6610% 34.7059% / 0.20), 4px 2px 4px -1px hsl(343.4043 79.6610% 34.7059% / 0.20);
  --shadow-lg: 4px 4px 0px 0px hsl(343.4043 79.6610% 34.7059% / 0.20), 4px 4px 6px -1px hsl(343.4043 79.6610% 34.7059% / 0.20);
  --shadow-xl: 4px 4px 0px 0px hsl(343.4043 79.6610% 34.7059% / 0.20), 4px 8px 10px -1px hsl(343.4043 79.6610% 34.7059% / 0.20);
  --shadow-2xl: 4px 4px 0px 0px hsl(343.4043 79.6610% 34.7059% / 0.25);
  --tracking-normal: 0.05em;
  --spacing: 0.25rem;
}

html.dark[data-theme="cyberpunk"] {
  --background: oklch(0.1408 0.0044 285.8229);
  --foreground: oklch(0.9414 0.0298 12.5805);
  --card: oklch(0.1822 0 0);
  --card-foreground: oklch(0.9414 0.0298 12.5805);
  --popover: oklch(0.1408 0.0044 285.8229);
  --popover-foreground: oklch(0.9414 0.0298 12.5805);
  --primary: oklch(0.6317 0.2544 21.7529);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8700 0.1481 202.8754);
  --secondary-foreground: oklch(0.1408 0.0044 285.8229);
  --muted: oklch(0.2429 0.0304 283.9110);
  --muted-foreground: oklch(0.8097 0.1061 11.6385);
  --accent: oklch(0.6317 0.2544 21.7529);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.6317 0.2544 21.7529);
  --input: oklch(0.2429 0.0304 283.9110);
  --ring: oklch(0.6317 0.2544 21.7529);
  --chart-1: oklch(0.6317 0.2544 21.7529);
  --chart-2: oklch(0.8700 0.1481 202.8754);
  --chart-3: oklch(0.6450 0.2154 16.4393);
  --chart-4: oklch(0.4103 0.1502 10.2718);
  --chart-5: oklch(0.7192 0.1690 13.4280);
  --sidebar: oklch(0.1408 0.0044 285.8229);
  --sidebar-foreground: oklch(0.9414 0.0298 12.5805);
  --sidebar-primary: oklch(0.6317 0.2544 21.7529);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2429 0.0304 283.9110);
  --sidebar-accent-foreground: oklch(0.9414 0.0298 12.5805);
  --sidebar-border: oklch(0.2429 0.0304 283.9110);
  --sidebar-ring: oklch(0.6317 0.2544 21.7529);
  --font-sans: Orbitron, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 12px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.5;
  --shadow-color: #ff003c;
  --shadow-2xs: 0px 0px 12px -4px hsl(345.8824 100% 50% / 0.25);
  --shadow-xs: 0px 0px 12px -4px hsl(345.8824 100% 50% / 0.25);
  --shadow-sm: 0px 0px 12px -4px hsl(345.8824 100% 50% / 0.50), 0px 1px 2px -5px hsl(345.8824 100% 50% / 0.50);
  --shadow: 0px 0px 12px -4px hsl(345.8824 100% 50% / 0.50), 0px 1px 2px -5px hsl(345.8824 100% 50% / 0.50);
  --shadow-md: 0px 0px 12px -4px hsl(345.8824 100% 50% / 0.50), 0px 2px 4px -5px hsl(345.8824 100% 50% / 0.50);
  --shadow-lg: 0px 0px 12px -4px hsl(345.8824 100% 50% / 0.50), 0px 4px 6px -5px hsl(345.8824 100% 50% / 0.50);
  --shadow-xl: 0px 0px 12px -4px hsl(345.8824 100% 50% / 0.50), 0px 8px 10px -5px hsl(345.8824 100% 50% / 0.50);
  --shadow-2xl: 0px 0px 12px -4px hsl(345.8824 100% 50% / 1.25);
}

html[data-theme="darkmatter"] {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2101 0.0318 264.6645);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2101 0.0318 264.6645);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2101 0.0318 264.6645);
  --primary: oklch(0.6716 0.1368 48.5130);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5360 0.0398 196.0280);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9670 0.0029 264.5419);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9491 0 0);
  --accent-foreground: oklch(0.2101 0.0318 264.6645);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6716 0.1368 48.5130);
  --chart-1: oklch(0.5940 0.0443 196.0233);
  --chart-2: oklch(0.7214 0.1337 49.9802);
  --chart-3: oklch(0.8721 0.0864 68.5474);
  --chart-4: oklch(0.6268 0 0);
  --chart-5: oklch(0.6830 0 0);
  --sidebar: oklch(0.9670 0.0029 264.5419);
  --sidebar-foreground: oklch(0.2101 0.0318 264.6645);
  --sidebar-primary: oklch(0.6716 0.1368 48.5130);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(1.0000 0 0);
  --sidebar-accent-foreground: oklch(0.2101 0.0318 264.6645);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6716 0.1368 48.5130);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

html.dark[data-theme="darkmatter"] {
  --background: oklch(0.1797 0.0043 308.1928);
  --foreground: oklch(0.8109 0 0);
  --card: oklch(0.1822 0 0);
  --card-foreground: oklch(0.8109 0 0);
  --popover: oklch(0.1797 0.0043 308.1928);
  --popover-foreground: oklch(0.8109 0 0);
  --primary: oklch(0.7214 0.1337 49.9802);
  --primary-foreground: oklch(0.1797 0.0043 308.1928);
  --secondary: oklch(0.5940 0.0443 196.0233);
  --secondary-foreground: oklch(0.1797 0.0043 308.1928);
  --muted: oklch(0.2520 0 0);
  --muted-foreground: oklch(0.6268 0 0);
  --accent: oklch(0.3211 0 0);
  --accent-foreground: oklch(0.8109 0 0);
  --destructive: oklch(0.5940 0.0443 196.0233);
  --destructive-foreground: oklch(0.1797 0.0043 308.1928);
  --border: oklch(0.2520 0 0);
  --input: oklch(0.2520 0 0);
  --ring: oklch(0.7214 0.1337 49.9802);
  --chart-1: oklch(0.5940 0.0443 196.0233);
  --chart-2: oklch(0.7214 0.1337 49.9802);
  --chart-3: oklch(0.8721 0.0864 68.5474);
  --chart-4: oklch(0.6268 0 0);
  --chart-5: oklch(0.6830 0 0);
  --sidebar: oklch(0.1822 0 0);
  --sidebar-foreground: oklch(0.8109 0 0);
  --sidebar-primary: oklch(0.7214 0.1337 49.9802);
  --sidebar-primary-foreground: oklch(0.1797 0.0043 308.1928);
  --sidebar-accent: oklch(0.3211 0 0);
  --sidebar-accent-foreground: oklch(0.8109 0 0);
  --sidebar-border: oklch(0.2520 0 0);
  --sidebar-ring: oklch(0.7214 0.1337 49.9802);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}

html[data-theme="astra"] {
  --background: oklch(0.9714 0.0141 343.1982);
  --foreground: oklch(0.2827 0.1351 291.0894);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2827 0.1351 291.0894);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2827 0.1351 291.0894);
  --primary: oklch(0.5916 0.2180 0.5844);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5413 0.2466 293.0090);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9464 0.0327 307.1745);
  --muted-foreground: oklch(0.4383 0.1983 303.7241);
  --accent: oklch(0.7148 0.1257 215.2209);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9024 0.0604 306.7030);
  --input: oklch(0.9024 0.0604 306.7030);
  --ring: oklch(0.5916 0.2180 0.5844);
  --chart-1: oklch(0.5916 0.2180 0.5844);
  --chart-2: oklch(0.5413 0.2466 293.0090);
  --chart-3: oklch(0.7148 0.1257 215.2209);
  --chart-4: oklch(0.7686 0.1647 70.0804);
  --chart-5: oklch(0.6559 0.2118 354.3084);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2827 0.1351 291.0894);
  --sidebar-primary: oklch(0.5916 0.2180 0.5844);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9464 0.0327 307.1745);
  --sidebar-accent-foreground: oklch(0.5916 0.2180 0.5844);
  --sidebar-border: oklch(0.9024 0.0604 306.7030);
  --sidebar-ring: oklch(0.5916 0.2180 0.5844);
  --font-sans: Basic, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Georgia', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #db2777;
  --shadow-2xs: 0px 4px 10px 0px hsl(333.3333 71.4286% 50.5882% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(333.3333 71.4286% 50.5882% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(333.3333 71.4286% 50.5882% / 0.10), 0px 1px 2px -1px hsl(333.3333 71.4286% 50.5882% / 0.10);
  --shadow: 0px 4px 10px 0px hsl(333.3333 71.4286% 50.5882% / 0.10), 0px 1px 2px -1px hsl(333.3333 71.4286% 50.5882% / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(333.3333 71.4286% 50.5882% / 0.10), 0px 2px 4px -1px hsl(333.3333 71.4286% 50.5882% / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(333.3333 71.4286% 50.5882% / 0.10), 0px 4px 6px -1px hsl(333.3333 71.4286% 50.5882% / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(333.3333 71.4286% 50.5882% / 0.10), 0px 8px 10px -1px hsl(333.3333 71.4286% 50.5882% / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(333.3333 71.4286% 50.5882% / 0.25);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

html.dark[data-theme="astra"] {
  --background: oklch(0.1418 0.0662 295.8049);
  --foreground: oklch(0.9714 0.0141 343.1982);
  --card: oklch(0.1947 0.0674 299.8714);
  --card-foreground: oklch(0.9714 0.0141 343.1982);
  --popover: oklch(0.1947 0.0674 299.8714);
  --popover-foreground: oklch(0.9714 0.0141 343.1982);
  --primary: oklch(0.7017 0.3225 328.3634);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5136 0.2930 288.6666);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2511 0.1142 301.6663);
  --muted-foreground: oklch(0.7217 0.1767 305.5038);
  --accent: oklch(0.9054 0.1546 194.7689);
  --accent-foreground: oklch(0.1418 0.0662 295.8049);
  --destructive: oklch(0.6528 0.2381 13.7745);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3796 0.1783 293.7446);
  --input: oklch(0.3796 0.1783 293.7446);
  --ring: oklch(0.7017 0.3225 328.3634);
  --chart-1: oklch(0.7017 0.3225 328.3634);
  --chart-2: oklch(0.5136 0.2930 288.6666);
  --chart-3: oklch(0.9054 0.1546 194.7689);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.7253 0.1752 349.7607);
  --sidebar: oklch(0.1604 0.0696 295.6276);
  --sidebar-foreground: oklch(0.9714 0.0141 343.1982);
  --sidebar-primary: oklch(0.7017 0.3225 328.3634);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2511 0.1142 301.6663);
  --sidebar-accent-foreground: oklch(0.7017 0.3225 328.3634);
  --sidebar-border: oklch(0.3796 0.1783 293.7446);
  --sidebar-ring: oklch(0.7017 0.3225 328.3634);
  --font-sans: Basic, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Georgia', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 15px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.5;
  --shadow-color: #ff00ff;
  --shadow-2xs: 0px 0px 15px 1px hsl(300 100% 50% / 0.25);
  --shadow-xs: 0px 0px 15px 1px hsl(300 100% 50% / 0.25);
  --shadow-sm: 0px 0px 15px 1px hsl(300 100% 50% / 0.50), 0px 1px 2px 0px hsl(300 100% 50% / 0.50);
  --shadow: 0px 0px 15px 1px hsl(300 100% 50% / 0.50), 0px 1px 2px 0px hsl(300 100% 50% / 0.50);
  --shadow-md: 0px 0px 15px 1px hsl(300 100% 50% / 0.50), 0px 2px 4px 0px hsl(300 100% 50% / 0.50);
  --shadow-lg: 0px 0px 15px 1px hsl(300 100% 50% / 0.50), 0px 4px 6px 0px hsl(300 100% 50% / 0.50);
  --shadow-xl: 0px 0px 15px 1px hsl(300 100% 50% / 0.50), 0px 8px 10px 0px hsl(300 100% 50% / 0.50);
  --shadow-2xl: 0px 0px 15px 1px hsl(300 100% 50% / 1.25);
}

html[data-theme="violateEye"] {
  --background: oklch(0.9892 0.0053 286.3028);
  --foreground: oklch(0.2257 0.0194 280.2492);
  --card: oklch(0.9892 0.0053 286.3028);
  --card-foreground: oklch(0.2257 0.0194 280.2492);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2257 0.0194 280.2492);
  --primary: oklch(0.6217 0.1799 287.7754);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9570 0.0187 289.3286);
  --secondary-foreground: oklch(0.3569 0.0813 288.2584);
  --muted: oklch(0.9601 0.0093 286.2229);
  --muted-foreground: oklch(0.5100 0.0425 284.7922);
  --accent: oklch(0.9570 0.0187 289.3286);
  --accent-foreground: oklch(0.4619 0.2173 279.9839);
  --destructive: oklch(0.6430 0.1925 24.3201);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9175 0.0216 285.9662);
  --input: oklch(0.8660 0.0371 285.5991);
  --ring: oklch(0.6217 0.1799 287.7754);
  --chart-1: oklch(0.6217 0.1799 287.7754);
  --chart-2: oklch(0.7716 0.1036 291.3083);
  --chart-3: oklch(0.3569 0.0813 288.2584);
  --chart-4: oklch(0.8740 0.0537 291.1256);
  --chart-5: oklch(0.5413 0.1805 285.7967);
  --sidebar: oklch(0.9811 0.0093 286.2277);
  --sidebar-foreground: oklch(0.3755 0.0323 284.7377);
  --sidebar-primary: oklch(0.6217 0.1799 287.7754);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9570 0.0187 289.3286);
  --sidebar-accent-foreground: oklch(0.4619 0.2173 279.9839);
  --sidebar-border: oklch(0.9430 0.0134 286.1402);
  --sidebar-ring: oklch(0.6217 0.1799 287.7754);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

html.dark[data-theme="violateEye"] {
  --background: oklch(0.1503 0.0171 289.8934);
  --foreground: oklch(0.9284 0.0161 286.0812);
  --card: oklch(0.1503 0.0171 289.8934);
  --card-foreground: oklch(0.9284 0.0161 286.0812);
  --popover: oklch(0.1941 0.0240 287.7536);
  --popover-foreground: oklch(0.9284 0.0161 286.0812);
  --primary: oklch(0.6217 0.1799 287.7754);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2354 0.0399 287.2762);
  --secondary-foreground: oklch(0.9284 0.0161 286.0812);
  --muted: oklch(0.2047 0.0296 286.5224);
  --muted-foreground: oklch(0.6907 0.0467 285.1130);
  --accent: oklch(0.2739 0.0616 285.5915);
  --accent-foreground: oklch(0.7716 0.1036 291.3083);
  --destructive: oklch(0.3997 0.1352 25.8101);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2587 0.0372 285.7691);
  --input: oklch(0.3015 0.0518 286.0003);
  --ring: oklch(0.6217 0.1799 287.7754);
  --chart-1: oklch(0.6217 0.1799 287.7754);
  --chart-2: oklch(0.5413 0.1805 285.7967);
  --chart-3: oklch(0.7716 0.1036 291.3083);
  --chart-4: oklch(0.3569 0.0813 288.2584);
  --chart-5: oklch(0.4539 0.1474 285.6505);
  --sidebar: oklch(0.1616 0.0230 287.6930);
  --sidebar-foreground: oklch(0.8147 0.0307 285.6989);
  --sidebar-primary: oklch(0.6217 0.1799 287.7754);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2354 0.0399 287.2762);
  --sidebar-accent-foreground: oklch(0.9284 0.0161 286.0812);
  --sidebar-border: oklch(0.2587 0.0372 285.7691);
  --sidebar-ring: oklch(0.6217 0.1799 287.7754);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 8px 20px 0px hsl(0 0% 0% / 1.00);
}

html[data-theme="apotheosis"] {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1448 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1448 0 0);
  --primary: oklch(0.4568 0.2146 277.0229);
  --primary-foreground: oklch(0.9842 0.0034 247.8575);
  --secondary: oklch(0.5413 0.2466 293.0090);
  --secondary-foreground: oklch(0.9842 0.0034 247.8575);
  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9299 0.0334 272.7879);
  --accent-foreground: oklch(0.3588 0.1354 278.6973);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.4568 0.2146 277.0229);
  --chart-1: oklch(0.4568 0.2146 277.0229);
  --chart-2: oklch(0.4907 0.2412 292.5809);
  --chart-3: oklch(0.5413 0.2466 293.0090);
  --chart-4: oklch(0.7090 0.1592 293.5412);
  --chart-5: oklch(0.8112 0.1013 293.5712);
  --sidebar: oklch(0.9842 0.0034 247.8575);
  --sidebar-foreground: oklch(0.1448 0 0);
  --sidebar-primary: oklch(0.4568 0.2146 277.0229);
  --sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-accent: oklch(0.9299 0.0334 272.7879);
  --sidebar-accent-foreground: oklch(0.3588 0.1354 278.6973);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.4568 0.2146 277.0229);
  --font-sans: Electrolize, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Michroma, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Space Mono, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.5;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.25);
  --shadow-xs: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.25);
  --shadow-sm: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.50), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.50);
  --shadow: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.50), 0px 1px 2px -3px hsl(0 0% 10.1961% / 0.50);
  --shadow-md: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.50), 0px 2px 4px -3px hsl(0 0% 10.1961% / 0.50);
  --shadow-lg: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.50), 0px 4px 6px -3px hsl(0 0% 10.1961% / 0.50);
  --shadow-xl: 0px 0px 10px -2px hsl(0 0% 10.1961% / 0.50), 0px 8px 10px -3px hsl(0 0% 10.1961% / 0.50);
  --shadow-2xl: 0px 0px 10px -2px hsl(0 0% 10.1961% / 1.25);
  --tracking-normal: 0.075em;
  --spacing: 0.25rem;
}

html.dark[data-theme="apotheosis"] {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.8871 0.1828 166.5465);
  --card: oklch(0.1696 0.0017 17.3207);
  --card-foreground: oklch(0.8871 0.1828 166.5465);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.8871 0.1828 166.5465);
  --primary: oklch(0.5038 0.2937 285.3753);
  --primary-foreground: oklch(0.8871 0.1828 166.5465);
  --secondary: oklch(0.5038 0.2937 285.3753);
  --secondary-foreground: oklch(0.8871 0.1828 166.5465);
  --muted: oklch(0.1888 0.1055 292.0750);
  --muted-foreground: oklch(0.8871 0.1828 166.5465);
  --accent: oklch(0.1888 0.1055 292.0750);
  --accent-foreground: oklch(0.8871 0.1828 166.5465);
  --destructive: oklch(0 0 0);
  --destructive-foreground: oklch(0.6670 0.2950 322.1500);
  --border: oklch(0.5038 0.2937 285.3753);
  --input: oklch(0.5038 0.2937 285.3753);
  --ring: oklch(0.8871 0.1828 166.5465);
  --chart-1: oklch(0.8871 0.1828 166.5465);
  --chart-2: oklch(0.5597 0.2956 301.9121);
  --chart-3: oklch(0.3451 0.2089 279.9220);
  --chart-4: oklch(0.8653 0.1475 204.0171);
  --chart-5: oklch(0.5038 0.2937 285.3753);
  --sidebar: oklch(0.1448 0 0);
  --sidebar-foreground: oklch(0.8871 0.1828 166.5465);
  --sidebar-primary: oklch(0.5038 0.2937 285.3753);
  --sidebar-primary-foreground: oklch(0.8871 0.1828 166.5465);
  --sidebar-accent: oklch(0.3451 0.2089 279.9220);
  --sidebar-accent-foreground: oklch(0.8653 0.1475 204.0171);
  --sidebar-border: oklch(0.3451 0.2089 279.9220);
  --sidebar-ring: oklch(0.8871 0.1828 166.5465);
  --font-sans: Electrolize, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Michroma, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Space Mono, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.5;
  --shadow-color: #6600ff;
  --shadow-2xs: 0px 0px 10px -2px hsl(264 100% 50% / 0.25);
  --shadow-xs: 0px 0px 10px -2px hsl(264 100% 50% / 0.25);
  --shadow-sm: 0px 0px 10px -2px hsl(264 100% 50% / 0.50), 0px 1px 2px -3px hsl(264 100% 50% / 0.50);
  --shadow: 0px 0px 10px -2px hsl(264 100% 50% / 0.50), 0px 1px 2px -3px hsl(264 100% 50% / 0.50);
  --shadow-md: 0px 0px 10px -2px hsl(264 100% 50% / 0.50), 0px 2px 4px -3px hsl(264 100% 50% / 0.50);
  --shadow-lg: 0px 0px 10px -2px hsl(264 100% 50% / 0.50), 0px 4px 6px -3px hsl(264 100% 50% / 0.50);
  --shadow-xl: 0px 0px 10px -2px hsl(264 100% 50% / 0.50), 0px 8px 10px -3px hsl(264 100% 50% / 0.50);
  --shadow-2xl: 0px 0px 10px -2px hsl(264 100% 50% / 1.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}